@use 'sass:color';
@use "variables" as *;

.hero {
    h2 {
        justify-self: center;
    }

    .contacts {
        display: flex;
        gap: 2rem;
        padding: 1rem;
        // width: max-content;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
        .icon {
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            background-color: $accent-color;
            cursor: pointer;
            display: flex;
            position: relative;
            transition: $transition;

            &:hover, &:focus {
                background-color: $primary-color;
                outline: 2px solid $accent-color;    

                svg {
                    fill: $accent-color;
                    transition: $transition;
                }
            }
            
            &::before {
                content: attr(id);
                position: absolute;
                width: fit-content;
                font-size: 0.7rem;
                color: $primary-color;
                padding: 0.3rem .5rem;
                top: 0;
                left: 50%;
                transform: translate(-50%, -1.9rem);
                background-color: $accent-color;
                border-radius: 1rem;
                opacity: 0;       
                transition: $transition;
                pointer-events: none;
            }
            
            &::after {
                pointer-events: none;
                z-index: -1;
                content: '';
                position: absolute;
                top: -18px;
                left: 50%;
                transform: rotate(-45deg) translate(-50%);
                width: .7rem;
                height: .7rem;
                background-color: $accent-color;
                opacity: 0;
                transition: $transition;
            }

            &:hover::before, &:hover::after {
                    // display: block;
                    opacity: 1;
                }

            a {
                padding: 0.3rem;
                display: flex;

                svg {
                    transform: scale(.7);
                    width: 100%;
                    fill: $primary-color;
                    align-self: center;
                    justify-self: center;
                }
            }
        }
    }
}

.quote {
    background: color.adjust($secondary-color, $lightness: 5%);
    border-radius: 2rem;
    padding: 0 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 2rem 0;
        align-self: center;
    }

    .input-group {
        margin-bottom: 2rem;
        position: relative;
        
        input, textarea {
            width: 100%;
            background-color: transparent;
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: inset 2px 2px 5px $secondary-color, inset -2px -2px 5px $primary-color;
            
            &:not(:placeholder-shown) + label {
                transform: translate(50%, -95%);
                box-shadow: inset 2px 2px 5px $secondary-color, inset -2px -2px 5px $primary-color;
                padding: .2rem .7rem;
            }

            &:autofill {
                box-shadow: 2px 2px 5px -1000px $primary-color inset, -2px -2px 5px 1000px $secondary-color inset;
            }
        }
        
        textarea {
            line-height: 1.5;
            resize: none;
            height: 9rem;

            &:not(:placeholder-shown) + label {
                transform: translate(40%, -95%);
            }
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(30%, 50%);
            transition: $transition;
        }
    }

    input[type='number'] {        
        + label {
            transform: translate(15%, 50%);
        }
        
        &:not(:placeholder-shown) + label {
            transform: translate(20%, -95%);
        }
    }

    .captcha-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    button[type="submit"]{
        padding: 1rem;
        min-height: 40px;
        margin-bottom: 2rem;
        width: 100%;
        border-radius: 1rem;
        font-weight: bold;        
        cursor: pointer;
        transition: $transition;
        background-color: color.adjust($accent-color, $lightness: 8%);
        box-shadow: 3px 3px 15px 1px color.adjust($primary-color, $lightness: -28%);
        color: $primary-color;
        position: relative;
        
        &:hover, &:focus {
            background-color: $accent-color;
        }

        &.loading {
            position: relative;
            opacity: .7;
            padding-left: 3rem;
            
            // Loading Spinner        
            &::before {
                content: '';
                position: absolute;
                left: 35%;
                top: 50%;
                transform: translateY(-50%);
                width: 1rem;
                height: 1rem;
                border: 2px solid $primary-color;
                border-top-color: transparent;
                border-radius: 50%;
                animation: spin .8s linear infinite;
            }
        }

        &:disabled {
            cursor: not-allowed;
            opacity: .7;
        }
    }
}

@keyframes spin {
    100% { transform: translateY(-50%) rotate(360deg); }
}

.social {
    position: fixed;
    right: 0;
    bottom: 0;
    transform: translateY(-4rem);
    z-index: 1;

    .whatsapp {
        width: 2rem;
        height: 2rem;
        background-color: $accent-color;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        position: relative;
        overflow: hidden;

        &::after {
            content:'';
            position: absolute;
            height: 100%;
            width: 0;
            background-color: $primary-color;
            transition: $transition;
        }

        &:hover, &:focus{
            border: 1px solid $accent-color;

            &::after {
                width: 100%;
            }

            svg {
                fill: $accent-color;
                z-index: 1;
            }
        }
        
        a {
            padding: 0.3rem;
            display: flex;

            svg {
                width: 100%;
                align-self: center;
                justify-self: center;
                fill: $primary-color
            }
        }

    }
}