@use 'variables' as *;

header .nav .menu #solutions.active::after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" fill="%23fff"/></svg>');
}

#projects {
    padding: 1rem 0;
    margin-top: 3rem;
    
    .projects {
        column-count: 1;
        column-gap: 2rem;
        
        .project{
            display: inline-block;
            margin-bottom: 2rem;
            width: 100%;
            break-inside: avoid;
            // max-height: fit-content;
            border-radius: 1rem;
            overflow: hidden;
            box-shadow: 5px 5px 20px $font-color;
            
            .img-container{
                border: red solid;
                max-height: max-content;
                height: 100%;
    
                img {
                    object-fit: contain;
                }
            }
    
            .description {
                padding: 0 1rem 0 1rem;
                // padding-bottom: 0;
                display: flex;
                justify-self: flex-start;
                max-height: fit-content;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                border: 1px solid $light-accent-color;
                width: 100%;
                border-top: 0;
            }
        }
    }
}