@use 'variables' as *;

@media (min-width: 576px){
    body, input[type='submit'] {
        font-size: 1.2rem;
    }

    // !Projects Page
    #projects .projects {
        column-count: 2;

        .project {
            margin-bottom: 2rem;
        }
    }
}

@media (min-width: 768px) {
    // !Header Styles
    header .nav {
        padding: 0;
        display: grid;
        grid-template-columns: 70px auto;
        margin: 0;
        
        .toggle-menu {
            display: none;
        }
        
        .menu {
            display: flex;
            min-height: 100%;
            max-width: fit-content;
            background-color: transparent;
            border-bottom-right-radius: 0rem;
            top: 0;
            right: 0;
            overflow: visible;
            
            li:not(:last-of-type) {
                border-bottom: none;

                &#solutions {
                    min-width: 8rem;

                    a.active +.projects-sub {
                        height: 0;
                    }

                    &::after {
                        top: 50%;
                        left: 80%;
                        transform: translateY(-50%);
                        height: 1.2rem;
                        width: 1.2rem;
                        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" fill="%23727cf5"/></svg>');
                    }

                    &:has(a.active) {
                        &::after {
                            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z" fill="%23fff"/></svg>');
                        }
                    }

                    &:hover, &:focus {
                        >a {

                            +.projects-sub {
                                height: fit-content;
                            }
                        }

                        &::after {
                        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z" fill="%23fff"/></svg>');
                        }
                    }

                    .projects-sub {
                        position: absolute;
                        top: 100%;
                        width: max-content;
                    }
                }
            }
        }
    }
    

    // !Hero Section
    .hero {
        background: url(#{$img-path}/landscape/CS-8.jpg) no-repeat center center/cover;

        .contacts {
            .icon {
                width: 3rem;
                height: 3rem;
                padding: 0.2rem;

                &::after {
                    width: 1rem;
                    height: 1rem;
                    transform: translate(-.4rem, -.2rem) rotate(45deg);
                }

                &::before {
                    padding: .3rem 0.6rem;
                    font-size: 1rem;
                    transform: translate(-2rem, -2.8rem);
                }
            }
        }

        button.get-quote {
            font-size: 1.5rem;
        }
    }

    // !Contact Page
    .social {
        // transform: translate(0, -4rem);

        .whatsapp {
            width: 3rem;
            height: 3rem;
            padding: 0.1rem;
        }
    }

    .quote {
        width: 500px;
        justify-self: center;

        .input-group {
            margin-top: 2.5rem;

            &:first-of-type {
                margin-top: 0;
            }

            label {
                transform: translate(1rem, .9rem);
            }

            input, textarea {
                font-size: 1.2rem;

                    &[type='number'] {
                        + label {
                        transform: translate(10%, 46%);
                    }
                    
                    &:not(:placeholder-shown) + label {
                        transform: translate(20%, -100%);
                    }
                }
            }

            textarea:not(:placeholder-shown) +label {
                transform: translate(2.4rem, -2.2rem);
            }
        }
    }

    // !Pricing Page
    .pricing {
        display: grid;
        place-items: center;

            table {
            width: 50%;
        }
    }

    .details button.get-quote {
        font-size: 1.5rem;
    }

    // !Projects Page
    #testimonials .testimonials .testimonial {
        width: 400px;
    }

    // FAQ Accordion
    .faq .accordion {        
        width: 600px;

        .faq-item {
            .question {
                font-size: 1.3rem;
            }

            &.active .question {
                font-size: 1rem;
            }
        }
    }
}

@media (min-width: 1024px){
    // !Projects Page
   #projects .projects {
        column-count: 3;
    }
}