*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: 0;
    outline: none;
    font-family: 'Quicksand', 'Poppins', serif;
}

img, svg, picture, video, canvas {
    width: 100%;
    height: 100%;
    display: block;
}