@use 'sass:color';
@use 'variables' as *;

.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .check {
        height: 4rem;
        width: 4rem;
        padding: .4rem;
        border-radius: 50%;
        border: 2px solid $accent-color;
        margin-bottom: 2rem;
        display: flex;

        svg {
            fill: $accent-color;
        }
    }

    // Network-Error Page
    .warning {
        @extend .check;
        border-color: $warning-color;

        svg {
            fill: $warning-color;
        }
    }

    // Error Page
    .error {
        @extend .check;
        border-color: $error-color;

        svg {
            fill: $error-color;
        }
    }

    h4 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1rem;

        &::after {
            display: none;
        }
    }

    p {
        margin-bottom: 1rem;
        text-align: center;
        color: color.adjust($primary-color, $lightness: -35%);
    }

    button {
        background-color: $accent-color;
        color: #fff;
        padding: .5rem 1rem;
        border-radius: .7rem;
        cursor: pointer;
    }
}