@use 'variables' as *;

.error {
    border: 1px solid $error-color;
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(30px) scale(.95);}
    to { opacity: 1; transform: translateY(0) scale(1);}
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }

    51%, 100% {
        opacity: 0;
    }
}